# Dependencias
/node_modules
**/node_modules

# Yarn Berry
.yarn/*
!.yarn/releases/**
!.yarn/plugins/**
!.yarn/sdks/**
!.yarn/versions/**

# Archivos de PnP (solo si NO usas nodeLinker: node-modules)
.pnp.*
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db



